.appBarIMenuRight{
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    align-items: center;
}
.appBarMenuRightMoney{
    color: red;

}
.imgUpBar{
    width: 40px;
    border-radius: 50px ;
    margin-right: 10px;
}